numpy
pandas
tensorflow<2.11
azureml-core
azureml-dataprep[pandas]
matplotlib
inference-schema
azureml-interpret==1.49.0
azureml-defaults==1.49.0
numpy==1.21.6
pandas==1.1.5
scikit-learn==0.22.1
fbprophet==0.7.1
holidays==0.10.3
psutil==5.9.0
scikit-learn
azureml-train-automl-runtime==1.18.0.post1
